# Core API
fastapi
uvicorn
python-multipart
streamlit==1.46.1
openrouter
openai

# Database
motor  # async MongoDB client for MongoDB

# Encryption + Auth
cryptography
python-jose[cryptography]
passlib[bcrypt]
python-dotenv

# Image Upload
cloudinary
pillow

# Machine Learning / NLP
#tensorflow-cpu>=2.19.0
scikit-learn==1.6.1
transformers
sentence-transformers
spacy
nltk==3.8.1
empath

# CV (optional but included for now)
#opencv-python-headless

# Data + Utils
numpy==1.24.3
pandas
requests
pyyaml

#extra for prototype
torch==2.1.0
shap==0.42.0
lime==0.2.0.1
plotly==5.18.0
matplotlib==3.7.2
joblib==1.5.1
